$primary-color: #1f7a54;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("../Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf");
}

body {
  font-family: "Quicksand", sans-serif;

  .main_div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .navbar_pattern {
      width: 100%;
      background-image: url("../header\ pattern\ svg.svg");
      border-bottom: 3px solid #31b9e4;

      .navbar {
        display: flex;
        flex-direction: column;
        padding: 0px 24px;
        background-color: #202a36ab;
        align-items: start;

        /* Mobile styles */
        @media (max-width: 991.98px) {
          padding: 6px 24px;
        }

        /* Mobile styles */
        @media (max-width: 768px) {
          padding: 8px 16px;
        }

        .navbar_main {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          /* Small mobile styles */
          @media (max-width: 480px) {
            flex-direction: column;
            align-items: start;
            gap: 12px;
          }

          /* Mobile styles */
          @media (max-width: 991.98px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

          @media (max-width: 375px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .navbar_links,
          .navbar_icons {
            display: flex;
            gap: 24px;
            list-style-type: none;
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: 0;
            cursor: pointer;

            li {
              a {
                display: block;
                border-radius: 4px;
                transition: background-color 0.2s;
                color: #3fd28b;
                text-decoration: none;
                font-size: 14px;
              }

              &.active {
                border-bottom: 2px solid white;

                a {
                  color: white;
                }
              }
            }

            /* Mobile styles */
            @media (max-width: 991.98px) {
              &.navbar_links {
                padding-left: 0px;

                li {
                  width: 100%;

                  &:last-child {
                    border-bottom: none;
                  }

                  a {
                    display: block;
                    padding: 8px 12px;
                    border-radius: 4px;
                    transition: background-color 0.2s;

                  }

                  &.active {
                    border-bottom: 2px solid white;

                    a {
                      color: white;
                    }
                  }
                }
              }

              &.navbar_icons {
                justify-content: flex-start;
              }
            }

            .alerts {
              display: flex;
              visibility: hidden;
              opacity: 0;
              position: absolute;
              top: 150%;
              right: 0;
              background-color: white;
              color: black;
              font-size: 18px;
              z-index: 5;
              width: 315px;
              object-fit: cover;
              box-shadow: 0px 13px 20px #0000003d;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              transition: opacity 0.5s ease;

              ul {
                list-style-type: none;
                padding: 0;
              }

              .bg_yellow {
                background-color: #ffffee;
              }

              .alerts_list {
                overflow-y: auto;
                max-height: 534px;
                width: 100%;

                .alerts_list_item {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  padding: 16px;
                  border-top: 1px solid #e0e0e0;
                  border-bottom: 1px solid #e0e0e0;

                  .text_light {
                    color: #6e6e6e;
                  }

                  .alerts_list_item_text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    font-size: 14px;

                    .alerts_list_item_text_head {
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      line-clamp: 2;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      line-height: 18px;
                      max-height: 36px;
                    }

                    .alerts_list_item_text_head_close {
                      height: 18px;
                      width: 16px;
                      align-self: flex-start;
                    }
                  }

                  .alerts_list_item_time_stamp {
                    font-size: 12px;
                    color: #6e6e6e;
                    align-self: flex-end;
                  }



                  span {
                    color: #6E6E6E;
                    font-size: 12px;
                  }
                }
              }

              .icons_button {
                box-shadow: 0px 1px 6px #0000003d;
                border-radius: 0px 0px 2px 2px;
                width: 100%;
                text-align: center;
                padding: 15px 0;
                color: #1f7a54;
                cursor: pointer;
                position: sticky;
                bottom: 0;
              }
            }

            .announcements {
              // display: none;
              visibility: hidden;
              opacity: 0;
              position: absolute;
              top: 150%;
              right: 0;
              background-color: white;
              color: black;
              font-size: 18px;
              z-index: 5;
              width: 315px;
              object-fit: cover;
              box-shadow: 0px 13px 20px #0000003d;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              transition: ease-in 0.5s;

              ul {
                list-style-type: none;
                padding: 0;
              }

              .bg_yellow {
                background-color: #ffffee;
              }

              .alerts_list {
                overflow-y: auto;
                max-height: 534px;
                width: 100%;

                .alerts_list_item {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  padding: 16px;
                  border-top: 1px solid #e0e0e0;
                  border-bottom: 1px solid #e0e0e0;

                  .text_light {
                    color: #6e6e6e;
                  }

                  .anouncements_list_item_head {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 12px;

                    span {
                      color: #6E6E6E;
                    }

                    .anouncements_list_item_text_head_close {
                      height: 18px;
                      width: 16px;
                      align-self: flex-start;
                    }
                  }

                  .anouncements_list_item_body {
                    font-size: 14px;
                    font-weight: 500;
                    color: #222222;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 18px;
                    max-height: 36px;
                  }

                  .anouncements_list_item_time_stamp {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #6E6E6E;

                    span {
                      margin-left: auto;
                    }
                  }



                  span {
                    color: #6E6E6E;
                    font-size: 12px;
                  }
                }
              }

              .announcements_icons_button {
                position: sticky;
                bottom: 0;
                box-shadow: 0px 1px 6px #0000003d;
                border-radius: 0px 0px 2px 2px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                  flex: 1;
                  border: none;
                  color: #1F7A54;
                  padding: 15px 0;
                  background-color: transparent;
                  font-size: 14px;
                  font-weight: 500;
                  cursor: pointer;
                }
              }
            }

            .top_circle {
              position: absolute;
              top: -4px;
              right: -8px;
              background-color: #2a7ff3;
              border-radius: 50%;
              color: white;
              height: 16px;
              width: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
            }

            .top_circle_2 {
              position: absolute;
              top: -4px;
              right: -4px;
              background-color: white;
              border-radius: 50%;
              color: black;
              height: 16px;
              width: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
            }

            .navbar_link {
              padding: 12px 0px;

              /* Mobile styles */
              @media (max-width: 991.98px) {
                padding: 0px;
              }
            }

            .navbar-toggler {
              padding: 0;
              display: none;

              .navbar-toggler-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
              }

              /* Mobile styles */
              @media (max-width: 991.98px) {
                display: block;
              }

              /* Desktop styles */
              @media (min-width: 992px) {
                display: none;
              }

              &:focus {
                outline: none;
                box-shadow: none;
              }

              .navbar_mob {
                // display: none;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 110%;
                box-shadow: 0px 13px 20px #0000003d;
                right: 10px;
                background-color: white;
                color: #1f7a54;
                z-index: 5;
                font-size: 12px;
                width: 300px;
                transition: opacity 0.5s ease;

                .navbar_links_mob {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  font-size: 14px;
                  gap: 0;

                  .navbar_link {
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    padding: 0 16px;

                    .navbar_link_head {
                      margin: 15px 0;
                      display: flex;
                      justify-content: space-between;
                      width: 100%;
                      align-items: center;
                      height: 24px;

                      a {
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        font-weight: 550;
                        color: #1f7a54;
                        padding: 0;
                        text-align: center;
                      }
                    }

                    .navbar_link_body {
                      margin: 15px 0 15px 16px;
                      height: 25px;
                      font-weight: 550;
                      color: #1f7a54;
                      padding: 0;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .content_div {
      display: flex;
      flex-direction: column;
      gap: 17px;
      padding: 30px 24px;
      background-color: #eeeeee;
      flex: 1;
      width: 100%;

      /* Tablet styles */
      @media (max-width: 1200px) {
        padding: 24px 16px;
      }

      /* Mobile styles */
      @media (max-width: 991.98px) {
        padding: 20px 12px;
      }

      /* Mobile styles */
      @media (max-width: 768px) {
        padding: 16px 8px;
      }

      .content_selecter {
        display: flex;
        width: 100%;
        background-color: #8ddc97;

        .content_option {
          width: 50%;
          padding: 10px 0px;
          display: flex;
          justify-content: center;
          gap: 12px;
          cursor: pointer;
          font-size: 18px;

          /* Small mobile styles */
          @media (max-width: 480px) {
            font-size: 16px;
            padding: 8px 0;
          }

          .option_number {
            font-size: 20px;
            font-weight: 800;

            /* Small mobile styles */
            @media (max-width: 480px) {
              font-size: 18px;
            }
          }
        }

        .option_active {
          border-bottom: 3px solid black;
        }
      }

      .content_controller {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12px;
        padding: 0 12px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 12px;

        /* Mobile styles */
        @media (max-width: 991.98px) {
          flex-direction: row;
          gap: 12px;
        }

        @media (max-width: 480px) {
          flex-direction: column;
          width: 100%;
          gap: 12px;
          align-items: flex-start;
        }

        .controller_text {
          color: #686868;
          font-size: small;
        }

        .controller_select_div {
          position: relative;
          display: inline-block;

          /* Mobile styles */
          @media (max-width: 991.98px) {
            display: flex;
            flex-direction: row;
            min-width: 40%;
          }

          /* Mobile styles */
          @media (max-width: 768px) {
            display: flex;
            flex-direction: row;
            width: 50%;
          }

          /* Small mobile styles */
          @media (max-width: 480px) {
            display: flex;
            flex-direction: row;
            width: 100%;
          }

          .controller_select {
            margin-left: 8px;
            border: 0;
            border-bottom: 1px solid black;
            width: 176px;
            appearance: none;
            -webkit-appearance: none;
            background: transparent;
            cursor: pointer;
            margin-right: 18px;

            /* Mobile styles */
            @media (max-width: 991.98px) {
              width: 100%;
              margin-left: 0;
              margin-top: 8px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 38px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #666;
            pointer-events: none;
          }
        }
      }

      .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
        gap: 22px;
        margin-top: 12px;
        justify-content: center;

        /* Mobile styles */
        @media (max-width: 991.98px) {
          grid-template-columns: repeat(auto-fit, minmax(476px, 570px));
          gap: 16px;
        }

        /* Mobile styles */
        @media (max-width: 768px) {
          grid-template-columns: 476px;
          gap: 12px;
        }

        @media (max-width: 480px) {
          grid-template-columns: 1fr;
          gap: 12px;
        }

        .content_card {
          display: flex;
          flex-direction: column;
          padding: 24px 24px 8px 24px;
          background-color: white;
          border-radius: 4px;

          /* Small mobile styles */
          @media (max-width: 480px) {
            padding: 16px;
          }

          .content_card_details {
            display: flex;
            flex-direction: row;
            gap: 16px;

            /* Mobile styles */
            @media (max-width: 768px) {
              flex-direction: column;
              text-align: center;
            }

            .card_label {
              color: red;
              background-color: rgba(255, 0, 0, 0.137);
              position: absolute;
              top: 0;
              left: 0;
              padding: 2px 4px;
              font-size: 12px;
            }

            .content_img {
              width: 132px;
              height: 157px;
            }

            .content_card_details_left {
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 5px;

              .card_title {
                text-align: start;
                display: flex;
                word-break: break-word;
                justify-content: space-between;

                /* Small mobile styles */
                @media (max-width: 480px) {
                  text-align: start;
                  font-size: 16px;
                }

                p {
                  font-size: 18px;
                  font-weight: 600;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  line-clamp:2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 1.4em;
                  max-height: 2.8em;
                }

                img {
                  width: 24px;
                  height: 24px;
                }
              }

              .card_text {
                display: flex;
                flex-direction: row;
                gap: 8px;
                color: #666666;
                font-size: 12px;

                .card_text_green {
                  color: #1f7a54;
                  margin-left: -6px;
                  font-weight: 600;
                }
              }

              .card_select_div {
                position: relative;
                display: inline-block;

                .card_select {
                  margin-top: 8px;
                  margin-bottom: 4px;
                  border: 0;
                  border-bottom: 1px solid black;
                  width: 100%;
                  appearance: none;
                  -webkit-appearance: none;
                  background: transparent;
                  cursor: pointer;
                  font-size: large;
                }

                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 4px;
                  transform: translateY(-50%);
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 6px solid #666;
                  pointer-events: none;
                }
              }
            }
          }

          .content_card_actions {
            margin-top: 12px;
            border-top: 1px solid #e0e0e0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 18px 20px 0 20px;

            /* Mobile styles */
            @media (max-width: 768px) {
              gap: 12px;
              align-items: stretch;
            }
          }
        }
      }

      .external_link_div {
        flex : 1;
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: gray;
        font-weight: 800;

        // Tablet screens
        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 12px;
          text-align: center;
        }

        // Mobile screens
        @media screen and (max-width: 480px) {
          margin-top: 24px;
          gap: 8px;
        }

        .external_link {
          color: #1f7a54;
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
          user-select: none;
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .footer {
      background-color: #e0e1e1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #616161;
      font-size: 14px;
      padding: 10px 0 6px 0;
      gap: 8px;

      // Tablet screens
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 12px;
        padding: 15px 0 10px 0;
      }

      // Mobile screens
      @media screen and (max-width: 480px) {
        font-size: 13px;
        padding: 12px 0 8px 0;
        flex-direction: column;
        gap: 4px;
        text-align: center;
      }

      .footer_link {
        color: #616161;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        user-select: none;
        transition: color 0.3s ease;
        margin: 0 14px;

        // Tablet screens
        @media screen and (max-width: 768px) {
          margin: 0 8px;
        }

        // Mobile screens
        @media screen and (max-width: 480px) {
          margin: 0 4px;
        }

        &:hover {
          color: #616161;
        }
      }
    }
  }

  .rel {
    position: relative;
  }

  .devider {
    border: 1px solid #0000001f;
    height: 20px;
    margin: 0 4px;

    // Tablet screens
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  select:focus {
    outline: none;
  }

  .hide {

    /* Mobile styles */
    @media (max-width: 991.98px) {
      display: none !important;
    }
  }

  .space_between {
    justify-content: space-between;
  }
}